{% extends 'rendezvous/FrontEnd/basef.html.twig' %}

{% block title %} Sante 180° {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                {% if response %}
                    {% if response.Rapport is defined and response.Rapport is not empty %}
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold" style="color: #66CDAA;">Rapport du rendez-vous</h6>
                        </div>
                        <div class="card-body">
                            <p>{{ response.Rapport }}</p> <!-- Affichage du rapport -->
                        </div>
                    
                    {% endif %}
                {% else %}
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold" style="color: #66CDAA;">Aucun rapport trouvé pour ce rendez-vous</h6>
                    </div>
                {% endif %}
                <div class="text-center mt-3">
                    <a href="{{ path('afficherRDVF') }}" class="btn btn-primary" style="background-color: #66CDAA;">
                        <i class="fas fa-arrow-left"></i> Retour à la liste des rendez-vous
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
